[submodule "auth-repo/backend/enterprise-auth-api"]
	path = auth-repo/backend/enterprise-auth-api
	url = https://github.com/BrunoUemura/enterprise-auth-api
[submodule "ticketr-repo/backend/enterprise-ticketr-api"]
	path = ticketr-repo/backend/enterprise-ticketr-api
	url = https://github.com/BrunoUemura/enterprise-ticketr-api
[submodule "ticketr-repo/frontend/enterprise-ticketr-app"]
	path = ticketr-repo/frontend/enterprise-ticketr-app
	url = https://github.com/BrunoUemura/enterprise-ticketr-app
